
:root {
    --clr-text: #333333;
    --clr-primario: #2477aa;
    --clr-secundario: #826653;
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: white;
    height: 150px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.contenedor_ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}



.navegador__principal {
    width: 100%;
    padding: 90px 0 50px 0 ;
}

.menu_listado {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.contenedor_loginsingin {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 40px;
}

.item_nav {
    text-decoration: none;
    color: var(--clr-text);
}

.item_nav:hover {
    color: var(--clr-primario);
}

.boton {
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    color: #333333;
    text-align: center;
    border-radius: 5px;
}

.primario {
    background-color: var(--clr-secundario);
    color: white;
}

.primario:hover {
    background-color: #6e5646;
    box-shadow: 0 2px 5px #826653c2;
}

.secundario:hover {
    background-color: whitesmoke;
}

.imagen-portada {
    background-image: url(../img/hotel_header.jpg);
    background-color: var(--clr-primario);
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
}

.informacion-servicios {
    background-color: var(--clr-primario);
    height: 200px;
    color: white;
    padding: 50px 150px;
}

.informacion-servicios h2 {
    font-size: 35px;
}

.informacion-servicios p {
    font-size: 18px;
}

.informacion__veranumgeneral {
    margin-top: 30px;
}

.infomador__servicios {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.informador {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background-color: white;
    border-radius: 7px;
    height: 300px;
    width: 40%;
    color: var(--clr-secundario);
    text-align: center;
}

.informador:hover {
    transition: 50ms;
    transform:scale(1.05);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border: 2px solid var(--clr-secundario);
    background-color: var(--clr-secundario);
    background-blend-mode: multiply;
}

.info__habitaciones {
    background-color: var(--clr-secundario);
    background-image: url(../img/habitacion_1.jpeg);
    background-position: center;
}

.info__servicioaparte {
    background-color: var(--clr-secundario);
    background-image: url(../img/para_editar/1686803.jpg);
    background-position: center;

    
}

.informador h3 {
    margin-top: 30px;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 25px;
    background-color: white;
    width: 200px;
}





footer {
    /* border-top: 10px solid var(--clr-secundario); */
    background-color: whitesmoke;
    height: 200px;
    width: 100%;
}
