body {
    display: flex;
    justify-content: center;
    background-image: url(../img/hotel_header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
} 

.contenedor-inicio-sesion {
    margin-top: 100px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.69);
    padding: 50px;
    border-radius: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-left: 1px solid rgba(255, 255, 255, 0.322);
    border-right: 1px solid rgba(255, 255, 255, 0.322);
    border-bottom: 1px solid rgba(255, 255, 255, 0.322);
    box-shadow: 0px 0px 50px rgba(7, 7, 7, 0.623);
}

.registro {
    width: 500px;
}

.tarjeta-inicio {
    margin: 15px;
    padding-bottom: 15px;
    color: #333333;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.forma-inicio-sesion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.forma-inicio-sesion div {
    display: flex;
    flex-direction: column;
}

.forma-inicio-sesion div h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
}

.forma-inicio-sesion div img {
    margin: auto;
}

.form-control {
    background-color: rgba(245, 245, 245, 0.479);
}

.botones {
    display: flex;
    flex-direction: column;
}

a {
    text-align: center;
    padding-top: 10px;
    color: #2677a7;
}

.btn-primary {
    margin-top: 20px;
    background-color: #2677a7;
    border-color: #2677a7;
}

.btn-primary:hover {
    /* box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.377); */
    background-color: #2c8bc2;
    box-shadow: 0px 0px 10px #2677a7;
    border-color: #2c8bc2;
}

@media (max-width: 500px) {
    .contenedor-inicio-sesion {
        width: 100%;
        height: 100%;
        border-radius: 0;
        margin: 0;
    }
 
}

#volver-index {
    
    
}