
body {
    display: flex;
    justify-content: center;
    background-image: url("../img/1686803.jpg");
    background-position: center;
    background-repeat: no-repeat; /* para que no se repita  */
    background-attachment: fixed; /* para que no se mueva con el contenido */
    font-family: 'Montserrat';
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.685);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

header img {
    margin: 30px;
    margin-top: 20px;
}

.contenedor-principal {
    width: 100%;
}

#btn-navbar {
    border-color: #7f6250;
    color: #7f6250;
}

#btn-navbar:hover {
    border-color: #7f6250;
    color: white;
    background-color: #7f6250;
}



/* paleta-colores
#2677a7
#7f6250
#333333
#c0beba

*/


