.contenedor-inicio-sesion {
    margin-top: 100px;
    width: 400px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.63);
    padding: 50px;
    border-radius: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-left: 1px solid rgba(255, 255, 255, 0.322);
    border-right: 1px solid rgba(255, 255, 255, 0.322);
    border-bottom: 1px solid rgba(255, 255, 255, 0.322);
    box-shadow: 0px 0px 50px rgba(7, 7, 7, 0.623);
}

.tarjeta-inicio {
    color: #333333;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.forma-inicio-sesion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.forma-inicio-sesion div {
    display: flex;
    flex-direction: column;
}

.forma-inicio-sesion div h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
}

.forma-inicio-sesion div img {
    margin: auto;
}

.form-control {
    background-color: rgba(245, 245, 245, 0.479);
}

.botones {
    display: flex;
    flex-direction: column;
}

.botones a {
    text-align: center;
    padding-top: 5px;
    color: #2677a7;
}

.btn-primary {
    background-color: #2677a7;
    border-color: #2677a7;
}

.btn-primary:hover {
    /* box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.377); */
    background-color: #2c8bc2;
    box-shadow: 0px 0px 10px #2677a7;
    border-color: #2c8bc2;
}